{% extends "layout.html" %}

{%block title %}
    Buy Quotes
{% endblock %}

{% block main %}
<form action="/buy" method="post">
    <div class="mb-3"> <br> </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="symbol" placeholder="search for quotes" type="text">
        <input class="form-control mx-auto w-auto" id="password" name="shares" placeholder="Number of quotes" type="number">
    </div>
    <button class="btn btn-primary" type="submit">BUY</button>
</form>

{% endblock %}
