{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{ sum_totals | usd }}</td>
            </tr>
        </tfoot>
        <tbody>
            {% for quote in quotes %}
                <tr>
                    <td>{{quote.quote_name}}</td>
                    <td>{{ quote.quote_symbol }}</td>
                    <td>{{ quote.shares }}</td>
                    <td>{{ quote.purchase_price | usd }}</td>
                    <td>{{ quote.total | usd }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">CASH</td>
                <td>{{ owned_cash | usd }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}